@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
        font-family: 'Roboto', sans-serif;
        @apply scroll-smooth;
    }
}

body {
    @apply bg-zinc-900 text-zinc-50;
}

header nav ul.list-links li {
    counter-increment: item 1;
    @apply h-auto;
}

header nav ul.list-links li a {
    @apply w-24 h-12 flex items-center flex-col justify-center text-xs;
}

ul.absolute li a {
    @apply w-full h-full flex flex-col items-center justify-center;
}

header nav ul.list-links li a span::before {
    content: "0" counter(item);
    @apply text-blue-600 block;
}

header nav ul.list-links li.bg-blue-600 a span::before,
header nav ul.list-links li:hover a span::before {
    @apply text-zinc-50;
}

section.banner-home {
    background-image: url('/images/banner.jpg');
    @apply  bg-no-repeat bg-cover bg-center;
}

.react-multi-carousel-list,
.react-multi-carousel-track,
.react-multi-carousel-item.image-item {
    @apply h-full
}